SCRAPINGDOG_API_KEY=
SCRAPINGDOG_CONCURRENCY=5
SCRAPINGDOG_TIMEOUT_MS=45000
CREDIT_BUDGET_PER_SEARCH=15000
CREDIT_CAP_PER_DAY=100000
CREDIT_CAP_PER_MINUTE=0
COMMENTS_SCOPE=all_collected_posts
DARKMAP_API_KEY=
DARKMAP_MAX_REQUEST_BYTES=2000000
DARKMAP_SEARCH_CURSOR_SECRET=
DATA_FILE=data/darkmap.json
PORT=5173
